body {
	background-position: left top;
	background-image: url(../images/home_bg.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.jqm-demos {
	background-color: transparent !important;
}
.my-header-800 {
	max-width: 800px;
	margin: auto;
	font-size: 1.2em;
}
.ui-content-600 {
	max-width: 600px;
	margin: auto;
}
.ui-content-800 {
	max-width: 800px;
	margin: auto;
	margin-top: 50px;
}
.ui-content-1024 {
	max-width: 1024px;
	margin: 0 auto 0 auto;
}
.main-function-list a {
	background-color: transparent !important;
	vertical-align: middle;
	border-left: none !important;
	border-right: none !important;
	font-family: "幼圆", 微软雅黑, 宋体 !important;
	font-size: 2em !important;
	color: blue !important;
}
.main-function-list h2 {
	text-align: center;
	font-size: 1em !important;
}
.news-list a {
	background-color: transparent !important;
	vertical-align: middle;
	border-left: none !important;
	border-right: none !important;
	font-family: "幼圆", 微软雅黑, 宋体 !important;
}
.news-list a img {
	height: 60px;
	margin-top: 10px;
}
.main_title {
	background-color: transparent !important;
	border: none;
	min-height: 1em !important;
}
.main_title h1 {
	font-family: "幼圆", 微软雅黑, 宋体 !important;
	font-size: 3em !important;
	text-align: center;
	color: red !important;
}
.main_title h3 {
	font-family: "幼圆", 微软雅黑, 宋体 !important;
	font-size: 3em !important;
	text-align: center;
	padding: 0 !important;
	display: inline-block;
}
.main_title a {
	text-decoration: none;
}
.nav_bar {
	text-align: center;
}
#btn_back {
	margin-top: 2em;
}
.idle-page-closing-panel {
	display: none;
	background-color: #eeeeee;
	padding: 2em;
	z-index: 999;
}
.scroll-panel {
	position: fixed;
	left: 10px;
	top: 20%;
	width: 80px;
	height: 200px;
}
.scroll-panel a {
	width: 100%;
	height: 80px;
	line-height: 80px;
	background-color: transparent !important;
	font-size: 1.2em;
}
.content-over-panel {
	font-size: 2em !important;
	text-align: center;
}
#wait_msg {
	display: none;
	background-color: lightgray;
	text-align: center;
	width: 200px;
	padding: 40px;
	position: absolute;
}
#wait_msg p {
	font-size: 2em;
	font-weight: 900;
}
@media screen and (orientation:portrait) {
body {
	background-image: url(../images/bg_portrait.jpg);
}
.main_title {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.main-function-list {
	position: relative;
	width: 200px;
	top: 80%;
	margin-left: auto;
	margin-right: auto;
}
.title-space{
	height: 450px;
}
}
@media screen and (orientation:landscape) {
body {
	background-image: url(../images/bg_landscape.jpg);
}
.main_title {
	position: absolute;
	width: 300px;
	right: 50px;
	top: 150px;
}
.main-function-list {
	position: absolute;
	right: 100px;
	top: 300px;
}
.title-space{
	height: 100px;
}
}
