<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<style type="text/css">
<!--
body {
color: #000000;
font-size:12px;
margin:0;
}
td {
font-size:12px;
color: #000000;
line-height:160%;
}
a:link, a:visited{
color:#003399;
}
a:hover{
color:#FF9900;
}
a.white:link, a.white:visited{
color:#FFFFFF;
text-decoration:underline;
}
a.white:hover{
text-decoration:none;
}
-->
</style>
</head>
<body>
<table width="608" border="0" align="center" cellspacing="0" style="width:608px;">
<tr>
<td width="338" height="40" rowspan="2"><a 
href="https://taobao.alipay.com?src=yy_em_sysdeal_alipay" 
target="_blank"><img src="http://img.alipay.com/assets/i/sj/mail/template/alipay_logo.gif" width="200" height="38" alt="支付宝" border="0" /></a></td>
<td width="270" height="16"></td>
</tr>
<tr>
<td width="270" height="24" style="text-align:right; background-color:#717894; color:#c0c1c6; word-break:break-all;"><div style="padding-right:8px; font-size:12px; line-height:24px;">您能收到该邮件，表示企业邮箱设置成功。</div> </td>
</tr>
</table>
<table width="608" align="center" cellpadding="0" cellspacing="0" style="border-top:4px solid #717894;border-left:4px solid #717894; border-right:4px solid #717894; border-bottom:8px solid #717894; width:608px;">
<tr>
<td style="font-size:12px; line-height:160%; word-break:break-all;">
<div style="width:580px; padding:10px; overflow:hidden;">
<b>亲爱的jhpxf，</b>
<br><br>
<table width="550" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">
您有一个支付宝交易卖家已经发货，但是您尚未确认收到货，如果您已经收到货请您立即确认，或与卖家取得联系。
</td>
</tr>
</table>
<table width="550" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top" style="height:200px">
</td>
</tr>
</table>
</div>
</td>
</tr>
</table>
<table width="608" align="center" cellpadding="0" cellspacing="0" style="background-color:#717894; border-top:1px solid #8d93a9; border-left:4px solid #717894; border-right:4px solid #717894; width:608px;">
<tr>
<td height="40" style="padding:12px; font-size:12px; color:#c0c1c6; line-height:160%;">此邮件为测试企业邮箱功能，请不要回复。<br>
如有任何疑问，可致电<a href="http://www.zhujianqiang.com" target="_blank" style="text-decoration:none; color:#FFFFFF;">Expo CMS</a>客服部(手机：13910416069
 QQ:271600922)</td>
</tr>
</table>
</body>
</html>
